<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>project2.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <display-name>project2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Admin_login</display-name>
    <servlet-name>Admin_login</servlet-name>
    <servlet-class>project2.Admin_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_login</servlet-name>
    <url-pattern>/Admin_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee_login</display-name>
    <servlet-name>Employee_login</servlet-name>
    <servlet-class>project2.Employee_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee_login</servlet-name>
    <url-pattern>/Employee_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeRegister</display-name>
    <servlet-name>EmployeeRegister</servlet-name>
    <servlet-class>project2.EmployeeRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeRegister</servlet-name>
    <url-pattern>/EmployeeRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>manager_login</display-name>
    <servlet-name>manager_login</servlet-name>
    <servlet-class>project2.manager_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manager_login</servlet-name>
    <url-pattern>/manager_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerRegister</display-name>
    <servlet-name>managerRegister</servlet-name>
    <servlet-class>project2.managerRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerRegister</servlet-name>
    <url-pattern>/managerRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee_Update</display-name>
    <servlet-name>Employee_Update</servlet-name>
    <servlet-class>project2.Employee_Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee_Update</servlet-name>
    <url-pattern>/Employee_Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Employee</display-name>
    <servlet-name>Delete_Employee</servlet-name>
    <servlet-class>project2.Delete_Employee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Employee</servlet-name>
    <url-pattern>/Delete_Employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Manager</display-name>
    <servlet-name>Delete_Manager</servlet-name>
    <servlet-class>project2.Delete_Manager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Manager</servlet-name>
    <url-pattern>/Delete_Manager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee_View</display-name>
    <servlet-name>Employee_View</servlet-name>
    <servlet-class>project2.Employee_View</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee_View</servlet-name>
    <url-pattern>/Employee_View</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Manager_View</display-name>
    <servlet-name>Manager_View</servlet-name>
    <servlet-class>project2.Manager_View</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Manager_View</servlet-name>
    <url-pattern>/Manager_View</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Create_Admin</display-name>
    <servlet-name>Create_Admin</servlet-name>
    <servlet-class>project2.Create_Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Create_Admin</servlet-name>
    <url-pattern>/Create_Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_Email</display-name>
    <servlet-name>Update_Email</servlet-name>
    <servlet-class>project2.Update_Email</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_Email</servlet-name>
    <url-pattern>/Update_Email</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_City</display-name>
    <servlet-name>Update_City</servlet-name>
    <servlet-class>project2.Update_City</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_City</servlet-name>
    <url-pattern>/Update_City</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_Address</display-name>
    <servlet-name>Update_Address</servlet-name>
    <servlet-class>project2.Update_Address</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_Address</servlet-name>
    <url-pattern>/Update_Address</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_PhoneNumber</display-name>
    <servlet-name>Update_PhoneNumber</servlet-name>
    <servlet-class>project2.Update_PhoneNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_PhoneNumber</servlet-name>
    <url-pattern>/Update_PhoneNumber</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeE_View</display-name>
    <servlet-name>EmployeeE_View</servlet-name>
    <servlet-class>project2.EmployeeE_View</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeE_View</servlet-name>
    <url-pattern>/EmployeeE_View</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contact_us</display-name>
    <servlet-name>Contact_us</servlet-name>
    <servlet-class>project2.Contact_us</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact_us</servlet-name>
    <url-pattern>/Contact_us</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contact_UsView</display-name>
    <servlet-name>Contact_UsView</servlet-name>
    <servlet-class>project2.Contact_UsView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact_UsView</servlet-name>
    <url-pattern>/Contact_UsView</url-pattern>
  </servlet-mapping>
</web-app>